<div class='toolbar'>
  <img
    class='toolbar__logo'
    width='40'
    alt='GiftBuddy logo'
    ngSrc='../assets/logos/giftbuddy-logo.svg'
    height='40' />
  <span class='toolbar__brand-name'>GiftBuddy</span>
  <div class='toolbar__spacer'></div>
  <button class='toolbar__button' aria-label='Log in' title='Log in'>Log in</button>
  <button class='toolbar__button toolbar__button--sign-up' aria-label='Sign up' title='Sign up'>Sign up</button>
</div>

<div class='content' role='main'>
  <router-outlet></router-outlet>
</div>
