<footer class='surface-100'>
  <div class='flex flex-column align-items-center py-2'>
    <div class='flex align-items-center mt-3 mb-1'>
      <img alt='GiftBuddy company logo' class='mr-2' height='25' ngSrc='assets/logos/giftbuddy-logo.png' width='25'>
      <span class='font-bold text-xl'>GiftBuddy</span>
    </div>
    <div class='flex flex-wrap justify-content-center mb-2'>
      <a class='text-gray hover:text-dark mx-2 text-black-alpha-40 no-underline' routerLink='#'>About Us</a>
    </div>
    <div class="flex my-1">
      <a href="https://www.instagram.com/" target="_blank">
        <i class='pi pi-instagram mx-2 text-black-alpha-40' style='font-size: 1rem'></i>
      </a>
      <a href="https://www.discord.com/" target="_blank">
        <i class='pi pi-discord mx-2 text-black-alpha-40' style='font-size: 1rem'></i>
      </a>
      <a href="https://www.facebook.com/" target="_blank">
        <i class='pi pi-facebook mx-2 text-black-alpha-40' style='font-size: 1rem'></i>
      </a>
    </div>
    <div class='flex flex-wrap justify-content-center text-gray mt-1'>
      <a class='hover-text-dark mx-2 text-black-alpha-40 no-underline' routerLink='#'>Privacy Policy</a>
      <span class='text-black-alpha-40'>|</span>
      <a class='hover-text-dark mx-2 text-black-alpha-40 no-underline' routerLink='#'>Terms of Service</a>
    </div>
  </div>
</footer>
