<div class='flex justify-content-center flex-wrap py-5'>
  <div class='surface-card p-4 shadow-2 border-round w-full lg:w-6'>
    <div class='text-center mb-5'>
      <div class='text-900 text-3xl font-medium mb-3'>Welcome!</div>
      <span class='text-600 font-medium line-height-3'>Create new event</span>
    </div>

    <form [formGroup]='createEventForm' (ngSubmit)='submitForm()'>
      <!-- Title Field -->
      <div class='field mb-3'>
        <label for='title'>Title</label>
        <input id='title' type='text' pInputText formControlName='title' class='w-full' />
        <small *ngIf="createEventForm.get('title')?.invalid && createEventForm.get('title')?.touched" class='p-error'>
          Title is required and must be at least 4 characters.
        </small>
      </div>

      <!-- Description Field -->
      <div class='field mb-3'>
        <label for='description'>Description</label>
        <textarea id='description' rows='5' pInputTextarea formControlName='description' class='w-full'></textarea>
        <div class='text-right'>
          <small>{{ createEventForm.get('description')?.value!.length || 0 }}/500</small>
        </div>
        <small *ngIf="createEventForm.get('description')?.invalid && createEventForm.get('description')?.touched"
               class='p-error'>
          Description is required and must be at least 4 characters.
        </small>
      </div>

      <!-- GiftIdea Field -->
      <div class='field flex-grow-1'>
        <label for='giftIdea'>Gift Idea</label>
        <input id='giftIdea' type='text' pInputText formControlName='giftIdea' class='w-full' />
        <small *ngIf="createEventForm.get('giftIdea')?.invalid && createEventForm.get('giftIdea')?.touched"
               class='p-error'>
          Gift Idea cannot exceed 100 characters.
        </small>
      </div>

      <!-- Contribution Field -->
      <div class='field flex-grow-1'>
        <label for='contribution'>Contribution</label>
        <p-inputNumber id='contribution' formControlName='contribution'
                       class='w-full' mode='currency' currency='PLN' [min]='0' [showButtons]='true' />
        <small *ngIf="createEventForm.get('contribution')?.invalid && createEventForm.get('contribution')?.touched"
               class='p-error'>
          Contribution cannot be smaller than 0.
        </small>
      </div>
      <!-- EndDate Fields -->
      <div class='field flex-grow-1'>
        <label for='endDate'>End Date:</label>
      </div>
      <div class='field flex-grow-1'>
        <p-calendar id='endDate' formControlName='endDate' dateFormat='dd.mm.yy' [minDate]='minDate' [showIcon]='true'
                    class='w-full'></p-calendar>
      </div>
      <small *ngIf="createEventForm.get('endDate')?.invalid && createEventForm.get('endDate')?.touched"
             class='p-error'>
        Date is required. Must be in the future.
      </small>

      <!-- Terms Checkbox -->
      <div class='field-checkbox mb-4'>
        <p-checkbox formControlName='terms' [binary]='true' label='I accept&nbsp;'></p-checkbox>
        <a href='https://www.google.com'>terms and condition</a>
        <small *ngIf="createEventForm.get('terms')?.invalid && createEventForm.get('terms')?.touched" class='p-error'>
          You must accept the terms and conditions.
        </small>
      </div>

      <!-- Submit Button -->
      <div class='card flex flex-column md:flex-row gap-3 max-w-full'>
        <button pButton pRipple type='submit' label='Create' icon='pi pi-check' class='w-full'></button>
      </div>
    </form>
  </div>
</div>
