.custom-card {
  max-width: 760px; /* Zmień szerokość kart */
  margin: 0 auto; /* Centralne wyrównanie */
}

.custom-img {
  width: 100%;
  aspect-ratio: 1 / 1; /* Kwadratowy aspekt obrazu */
  object-fit: cover; /* Zapobiega rozciąganiu obrazu */
}
